@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700;800&display=swap");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--pink);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--light-blue);
}

:root {
  --pink: #aa2248;
  --light-blue: #3ebab9;
  --dark-slate-grey: #315c5e;
  --Ash-grey: #a3b4a2;
  --sea-salt: #f7f6f8;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.intro {
  background-image: linear-gradient(360deg, white, hsl(343, 67%, 40%, 40%));
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

header img {
  width: 300px;
}

ul {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: var(--dark-slate-grey);
  font-weight: 600;
}

li {
  position: relative;
  margin: 0 30px;
  list-style-type: none;
  transition: 0.3s;
}

li:hover ::after {
  content: "";
  position: absolute;
  background-color: var(--dark-slate-grey);
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 3px;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.section .left {
  width: 50%;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.section .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--dark-slate-grey);
}

p {
  font-size: 1.3rem;
  font-weight: normal;
  letter-spacing: 3px;
  margin: 0 20px;
  margin-top: 10px;
  width: 70%;
}

.section .right :last-child {
  width: 70%;
  margin-top: 20px;
}

.section img {
  height: 600px;
  max-width: 100%;
}

#About {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 400px;
  margin: 150px 0;
  color: var(--dark-slate-greys);
}

#About .right {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  transition: 0.3s;
}

#About .right h2 {
  color: var(--dark-slate-grey);
  letter-spacing: 3px;
  width: 50%;
  text-align: center;
}

#About .right .abs {
  position: absolute;
  width: 600px;
  top: -200px;
}

#About .right h2::after {
  content: "";
  position: absolute;
  background-color: var(--dark-slate-grey);
  bottom: -15px;
  transform: translateX(-137px);
  width: 130px;
  height: 5px;
}

#About .left p {
  color: var(--dark-slate-grey);
  letter-spacing: 3px;
  width: 70%;
  margin-bottom: 10px;
}

#About .left p:first-child {
  color: #aa2248;
  font-weight: bold;
  font-size: 1.7rem;
}

.follow {
  color: black;
  margin-top: 30px;
}

#About .social {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 20px;
}

.social a {
  margin-left: 20px;
}

.social a i {
  font-size: 1.5rem;
}

#Skills {
  position: relative;
  margin: 150px 0;
  text-align: center;
}

#Skills h2 {
  margin-bottom: 50px;
  color: #315c5e;
  font-size: 2rem;
}

#Skills h2::after {
  content: "";
  position: absolute;
  background-color: var(--dark-slate-grey);
  top: 50px;
  left: 46%;
  width: 130px;
  height: 5px;
}

.all {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.all .box {
  height: 100px;
  background-color: #a3b4a2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  transition: 0.3s;
}

.all .box:hover {
  transform: translateY(-10px);
}

#Projects {
  position: relative;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 50px;
}

#Projects h2 {
  color: #315c5e;
}

#Projects h2::after {
  content: "";
  position: absolute;
  background-color: var(--dark-slate-grey);
  top: 50px;
  left: 46%;
  width: 130px;
  height: 5px;
}

.all-projects {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2, 500px);
  gap: 20px;
  margin-top: 70px;
  padding: 20px;
}

.pro {
  padding: 20px;
  background-color: var(--light-blue);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pro p {
  color: white;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.5rem;
}

.pro img {
  width: 400px;
  height: 200px;
  border-radius: 10px;
}

.pro a {
  padding: 10px;
  border-radius: 25px;
  background-color: #f7f6f8;
  color: var(--pink);
  margin: 20px 50px;
  box-shadow: 10px 10px 20px #315c5ead;
}

.links {
  display: flex;
  justify-content: space-between;
}

.pro a:hover {
  background-color: #aa2248;
  color: var(--sea-salt);
}


#Contact {
  position: relative;
  background-color: hsl(180, 50%, 49%, 90%);
  color: var(--sea-salt);
  text-align: center;
  padding: 20px;
  margin-top: 250px;
  margin-bottom: -10px;
}


.footer {
  margin-top: 50px;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer .about {
  align-items: center;
}

.footer .about img {
  width: 200px;
}

.footer .Follow-us {
  display: flex;
  flex-direction: column;
  align-items: start;
}


.Follow-us h3 {
  margin-bottom: 10px;
}

.footer .Follow-us a {
  margin: 10px 0;
  color: #aa2248;
}

.footer .Follow-us i {
  margin-right: 10px;
}

.footer .contact-us {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer .contact-us h3 {
  margin-bottom: 10px;
}

.footer .contact-us p {
  margin-bottom: 10px;
  font-size: 1rem;
  width: 90%;
  color: #aa2248;
}

#cv {
  background-color: #3ebab9;
  width: 250px;
  border: none;
  border-radius: 25px;
  color: #aa2248;
  font-weight: bolder;
  font-size: 1.1rem;
  height: 50px;
  margin-top: 50px;
}

#cv:hover {
  background-color: #aa2248;
  color: #3ebab9;
}

.work-together {
  position: absolute;
  width: 90%;
  left: 80px;
  height: 180px;
  background-color: #aa2248;
  border-radius: 25px;
  margin-top: 50px;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: var(--sea-salt);
}

.work-together h3 {
  font-size: 1.5rem;
}

.work-together p {
  width: 50%;
}

.work-together button {
  background-color: #aa2248;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  border: 1px solid white;
  color: white;
  font-weight: bold;
}

.work-together button:hover {
  background-color: #3ebab9;
}

.work-together button i {
  margin-right: 10px;
}

.copyright {
  width: 100%;
  color: #a3b4a2;
  background-color: #aa2248;
  text-align: start;
  padding-right: 0px;
}

.copyright p {
  font-size: 16px;
}

.mob {
  display: none;
}

@media(max-width:670px) {
  .mob {
    display: block;
  }

  header ul {
    display: none;
  }

  .section img {
    height: 100%;
    max-width: 100%;
  }

  .section {
    flex-direction: column;
  }

  .section .right {
    order: 1;
  }

  #About {
    flex-direction: column;
  }

  #About .right h2::after {
    display: none;
  }

  #About .right img {
    width: 50px;
  }

  #About .right {
    margin-bottom: 100px;
  }

  #About .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
  }

  #About .right .abs {
    position: absolute;
    width: 400px;
    top: -140px;
  }

  .all {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  #Skills h2::after {
    content: "";
    position: absolute;
    background-color: var(--dark-slate-grey);
    top: 50px;
    left: 30%;
    width: 130px;
    height: 5px;
  }

  .all-projects {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 70px;
  }

  #Projects h2::after {
    content: "";
    position: absolute;
    background-color: var(--dark-slate-grey);
    top: 50px;
    left: 34%;
    width: 130px;
    height: 5px;
  }

  .pro img {
    width: 100%;
  }

  .links {
    display: flex;
    flex-direction: column;
  }

  .footer {
    margin-top: 50px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .footer div:not(:last-child)::after {
    content: '';
    display: none;
    position: absolute;
    top: -10px;
    width: 2px;
    height: 220px;
    margin-left: 230px;
    background-color: #f7f6f8;
  }

  .work-together {
    position: absolute;
    width: 100%;
    left: 0px;
    height: 150px;
    background-color: #aa2248;
    border-radius: 25px;
    margin-top: 90px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--sea-salt);
  }

  .work-together h3 {
    font-size: 1rem;
  }

}